:root {
    --bg-body: #ffe4fc;           /* Warna background halaman */
    --bg-container: #FFFFFF;      /* Warna kotak putih */
    --text-color: #333;           /* Warna teks */
    --input-bg: #F4F4F4;          /* Warna kolom input */
    --theme-bg: hsl(47, 100%, 83%);/* Background icon matahari */
    --border: 2px solid #be27b4;
    --button-add: #f8b2f3;
    --bg-hover: #f150e7;
    --bg-btn: #e1e1e1;
}

.dark-mode {
    --bg-body: #404040;
    --bg-container: #282828;
    --text-color: #dfe6e9;
    --input-bg: #181818;          /* Input jadi agak gelap */
    --theme-bg: #4b4b4b;           /* Background icon bulan */
    --border: 2px solid #2e2d2e;
    --button-add : #b3b3b3;
    --bg-hover: #e9e9e9;
    --bg-btn: #4b4b4b;
}

body {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffe4fc;
    box-sizing: border-box;
    background-color: var(--bg-body); 
    color: var(--text-color);
    transition: background 0.3s, color 0.3s; /* Biar halus transisinya */
    box-sizing: border-box;
}

#theme-icon {
    background-color: var(--theme-bg);
    color: var(--theme-color);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
}

header {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    font-size: 18px;
}

.container {
    padding: 25px;
    border-radius: 25px;
    background-color: #FFFF;
    width: 100%;
    max-width: 540px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    background-color: var(--bg-container);
    border: var(--border);
}

.list-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F4F4F4;
    padding-left: 20px;
    margin-bottom: 25px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid rgba(159, 159, 159, 0.434);
    background-color: var(--input-bg);
}

#list-input {
    flex: 1;
    outline: none;
    border: none;
    background: transparent;
    font-size: 16px;
    padding: 5px;
    color: var(--text-color);
}

.theme-icon {
    color: var(--icon-color);
    background-color: var(--icon-bg);
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button {
    background-color:var(--button-add);
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: var(--bg-hover);
}

ul{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
    padding: 12px 8px 12px 50px;
    font-size: 16px;
    user-select: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

ul li:before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    background-image: url(src/circle.svg);
    background-size: cover;
    background-position: center;
    left: 8px;
    top: 9px;
}

ul li.checked {
    color: #555;
    text-decoration: line-through;
    
}

ul li.checked:before {
    background-image: url(src/check-circle.svg);
}

ul li span {
    position: absolute;
    right: 0;
    width: 40px;
    height: 40px;
    font-size: 25px;
    color: #555;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
    color: var(--text-color);
}

ul li span:hover {
    background: var(--bg-btn);
}

